<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Post</title>
</head>
<body>
    <nav>
        <ul>
            <a href="/">Inicio</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/newPost">New Post</a>
        </ul>
    </nav>

    <form action="" th:object="${editedPost}" th:action="@{'/editPost/' + ${post.id}}"  method="post">
    <h1> <textarea name="Titulo" id="Titulo" th:text="${post.title}" th:field="*{title}"></textarea></h1><br>
    <h2 > <textarea name="text" id="Texto" th:text="${post.text}" th:field="*{text}"> </textarea></h2><br>
    <h3 th:text="${post.date}"></h3>
    <h3><a th:href="@{'/user/'+${post.author.id}}" th:text="'Made by : '+ ${post.author.name} "> </a></h3>

    <br><button type="submit">Modificar POST</button>
    </form>
    <br>
    <br>
    <br>

</body>
</html>