<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <nav>
        <ul>
            <a href="/">Inicio</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/newPost">New Post</a>
        </ul>
    </nav>
    
    <form action="#" th:action="@{/login}" method="post">
        <label for="username" >Username</label> <br>
        <input type="text" name="username" id="username"><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password"><br>
        <button type="submit">Login</button>
    </form>

</body>
</html>