<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <a href="/">Inicio</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/newPost">New Post</a>
        </ul>
    </nav>
    <h1 th:text="${post.title}"></h1><br>
    <h2 th:text="${post.text}"></h2><br>
    <h3 th:text="${post.date}"></h3>
    <h3><a th:href="@{'/user/'+${post.author.id}}" th:text="'Made by : '+ ${post.author.name} "> </a></h3>
</html>