<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <nav>
        <ul>
            <a href="/">Inicio</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/newPost">New Post</a>
        </ul>
    </nav>
    <h2>Sorry but that Username already exists, please try another:</h2>

    <form action="#" th:action="@{/register}" th:object="${user}" method="post">
        <label for="Username"> Username</label>
        <input type="text" name="Username" id="Username" th:field="*{name}"><br>

        <label for="Password"> Password </label>
        <input type="password" name="Password" id="Password" th:field="*{password}"><br>

        <button type="submit">Register</button>
    </form>
</body>
</html>