<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${user.name}"></title>
</head>
<body>
    <h1 th:text="${user.name}"></h1><br>
    <div class="posts" th:each="post : ${posts}">
        <hr>
            <h1><a th:href="@{'/post/' +${post.id}}" th:text="${post.title}"></a></h1>
            <h2 th:text="${post.text}"></h2><br>
    </div>
</body>
</html>